body {
    width: 100%;
    font-family: "Merriweather", sans-serif;
    color: #3b3b3bb3;
    background-color: rgba(234, 237, 238, 0.952);
}

.body-pink {
    background-color: rgb(252, 230, 230);
}

.body-blue {
    background-color: rgb(130, 162, 209);
}

/* --------- Header */
.top-left-buttons {
    margin-left: 15px;
}

#zuzana-button {
    color: #3b3b3bb3;
    background-color: rgb(228, 161, 161);
}

#ondrej-button {
    color: whitesmoke;
    background-color: rgb(23, 75, 126);
}

/* --------- Landing page Intro */
#intro-text-box {
    width: 100%;
    height: auto;
    text-align: center;
    border: 2px solid;
    border-bottom-left-radius: 45%;
    border-bottom-right-radius: 45%;
    padding-top: 10px;
    margin-bottom: 10px;
}

.intro-text-pink {
    background-color: rgb(228, 161, 161);
}

.intro-text-blue {
    background-color: rgb(23, 75, 126);
}

.intro-p-pink {
    color: whitesmoke;
}

.intro-p-blue {
    color: whitesmoke;
}

@media only screen and (max-width: 900px) {
    #intro-text-box {
        width: 100%;
        height: auto;
        text-align: center;
        border: 2px solid;
        border-radius: 5px;
        padding-top: 10px;
        margin-bottom: 10px;
    }
}

@media only screen and (max-width: 600px) {
    .intro-p {
        font-size: 12px;
        text-align: center;
        margin: 5px;
    }
}

/* --------- Landing page carousel */
#carousel-window {
    height: auto;
    margin-top: 20px;
    margin-bottom: 20px;
}

/* --------- Landing page Google Maps API */
#map-window {
    min-height: 300px;
    margin-top: 15px;
    margin-bottom: 30px;
}

/* --------- Landing page Album Cards --------*/

.card-group {
    width: 100%;
    margin-bottom: 1px;
    margin-top: 1px;
}

.card {
    width: 100%;
    height: 650px;
    perspective: 1000px;
    border-radius: 2px;
    margin: 5px;
}

.card-body {
    width: 100%;
    height: 600px;
    text-align: center;
    transition: transform 1s;
    transform-style: preserve-3d;
    cursor: pointer;
    position: relative;
}

.card-body.is-flipped {
    transform: rotateY(180deg);
}

.card-front-back {
    position: absolute;
    width: 90%;
    height: 600px;
    backface-visibility: hidden;
    overflow: hidden;
}


.card-front {
    display: flex;
    align-items: center;
    justify-content: center;
}


.card-back {
    transform: rotateY(180deg);
}

.card-content {
    width: 100%;
    height: 100%;
}

.card-header {
    position: relative;
}

.card-carousel {
    padding: 30px;
}

.dubai-1 {
    width: auto;
    height: 300px;
    background-image: url(https://github.com/OndrejValla/z-o-photo-album/blob/master/assets/images/dubai/dubai-1.JPG);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 45%;
    z-index: 1;
}

.cuba-1 {
    width: auto;
    height: 300px;
    background-image: url(https://github.com/OndrejValla/z-o-photo-album/blob/master/assets/images/cuba/cuba-0.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 45%;
    z-index: 1;
}

.more-button {
    color: #3b3b3bb3;
}

.map-marker {
    color: rgb(230, 60, 30);
}

/* ---------GALLERY PAGE */


.gallery-window-row {
    width: 100%;
    min-height: 200px;
    min-height: 500px;
    background-color: rgb(211, 208, 208);
    text-align: center;
    border: 5px solid;
    border-radius: 5px;
    margin-top: 20px;
    margin-right: 0px;
    margin-bottom: 50px;
    margin-left: 0px;
}

.gallery-window-row-pink {
    width: 100%;
    height: 100%;
    background-color: rgb(228, 161, 161);
    text-align: center;
    border: 5px solid;
    border-radius: 5px;
    margin-top: 20px;
    margin-bottom: 50px;
}

.gallery-window-row-blue {
    width: 100%;
    height: 100%;
    background-color: rgb(23, 75, 126);
    text-align: center;
    border: 5px solid;
    border-radius: 5px;
    margin-top: 20px;
    margin-bottom: 50px;
}

.gallery-window-col {
    width: 100%;
    min-height: 100px;
    justify-content: center;
    padding-top: 10px;
    padding-bottom: 10px;

}


.gallery-buttons-col {
    text-align: center;
    color: whitesmoke;
    margin-top: 10px;
    margin-bottom: 10px;
}

.gallery-button {
    color: #3b3b3bb3;
    margin-top: 5%;
    margin-bottom: 1%;
    margin-left: 3%;
    margin-right: 3%;
}

.each-gallery {
    margin-top: 15px;
    margin-bottom: 10px;
}

.each-gallery>h6 {
    color: whitesmoke;
}

@media only screen and (max-width: 600px) {
    .gallery-button {
        margin-left: 3px;
    }
}

/* --------- Footer */
footer {
    min-height: 40px;
    color: #3b3b3bb3;
    border-top: 3px solid #3b3b3bb3;
    border-bottom: 3px solid #3b3b3bb3;
    margin-top: 0px;
}

.footer-sections {
    min-height: 30px;
    min-width: 20%;
    background-color: whitesmoke;
    font-size: 100%;
    text-align: center;
    margin-top: auto;
    margin-bottom: auto;
    border: 2px solid white;
}

.footer-socials {
    color: #3b3b3bb3;
    margin-left: 10px;
}

footer h6 {
    color: black;
}

.footer-sections a {
    text-decoration: none;
}

.footer-socials:hover {
    color: black;
}

.active-footer {
    text-decoration: underline;
    color: rgba(0, 0, 0, 0.801);
}