body {
    font-family: "Merriweather", sans-serif;
    color: #3b3b3bb3;
    background-color: rgba(234, 237, 238, 0.952);
}

.body-pink {
    background-color: rgb(252, 230, 230);
}

.body-blue {
    background-color: rgb(130, 162, 209);
}

/* --------- Header */
.z-o-buttons {
    position: absolute;
    top: 14px;
    right: 90px;
}

#zuzana-button {
    color: #3b3b3bb3;
    background-color: rgb(228, 161, 161);
}

#ondrej-button {
    color: whitesmoke;
    background-color: rgb(23, 75, 126);
}

/* --------- Landing page Intro */
#intro-text-box {
    width: 100%;
    height: auto;
    text-align: center;
    border: 2px solid;
    border-bottom-left-radius: 45%;
    border-bottom-right-radius: 45%;
    padding-top: 10px;
    margin-bottom: 10px;
}

.intro-text-pink {
    background-color: rgb(228, 161, 161);
}

.intro-text-blue {
    background-color: rgb(23, 75, 126);
}

.intro-p-pink {
    color: whitesmoke;
}

.intro-p-blue {
    color: whitesmoke;
}

@media only screen and (max-width: 900px) {
    #intro-text-box {
        width: 100%;
        height: auto;
        text-align: center;
        border: 2px solid;
        border-radius: 5px;
        padding-top: 10px;
        margin-bottom: 10px;
    }
}

@media only screen and (min-width: 600px) {
    .heading-h2 {
        font-size: 26px;
        margin-top: 6px;
    }

    .z-o-buttons {
        position: absolute;
        top: 20px;
        right: 90px;
    }

}

@media only screen and (max-width: 600px) {
    .intro-p {
        font-size: 12px;
        text-align: center;
        margin: 5px;
    }

    .heading-h2 {
        font-size: 16px;
        margin-top: 6px;
    }
}

/* --------- Landing page carousel */
#carousel-window {
    height: auto;
    margin-top: 20px;
    margin-bottom: 20px;
}

/* --------- Landing page Google Maps API */
#map-window {
    min-height: 300px;
    margin-top: 15px;
    margin-bottom: 30px;
}

/* --------- Landing page Album Cards --------*/
.card-group {
    width: 100%;
    margin-bottom: 1px;
    margin-top: 1px;
}

.card {
    width: 100%;
    height: 650px;
    perspective: 1000px;
    border-radius: 2px;
    margin: 5px;
}

.card-body {
    width: 100%;
    height: 600px;
    text-align: center;
    transition: transform 1s;
    transform-style: preserve-3d;
    cursor: pointer;
    position: relative;
}

.card-body.is-flipped {
    transform: rotateY(180deg);
}

.card-front-back {
    position: absolute;
    width: 90%;
    height: 600px;
    backface-visibility: hidden;
    overflow: hidden;
}

.card-front {
    align-items: center;
    justify-content: center;
}

.card-back {
    transform: rotateY(180deg);
}

.card-content {
    width: 90%;
    height: 90%;
}

.card-header {
    position: relative;
    border: 1px solid #3b3b3bb3;
}

.card-carousel {
    padding: 30px;
}

.dubai-1 {
    width: auto;
    height: 300px;
    background: url(../images/dubai/dubai-1.JPG);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 45%;
    z-index: 1;
}

.cuba-1 {
    width: auto;
    height: 300px;
    background: url(../images/cuba/cuba-0.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 45%;
    z-index: 1;
}

.singapore-1 {
    width: auto;
    height: 300px;
    background: url(../images/singapore/singapore-3.JPG);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 10%;
    z-index: 1;
}

.java-1 {
    width: auto;
    height: 300px;
    background: url(../images/java/java-0.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 45%;
    z-index: 1;
}

.miami-1 {
    width: auto;
    height: 300px;
    background: url(../images/miami/miami-5.JPG);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 45%;
    z-index: 1;
}

.paris-1 {
    width: auto;
    height: 300px;
    background: url(../images/paris/paris-1.JPG);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 45%;
    z-index: 1;
}

.more-button {
    color: #3b3b3bb3;
}

.map-marker {
    color: rgb(230, 60, 30);
}

/* ---------GALLERY PAGE */

.gallery-window-row {
    width: 100%;
    min-height: 400px;
    background-color: rgb(211, 208, 208);
    text-align: center;
    border: 5px solid;
    border-radius: 5px;
    margin-top: 20px;
    margin-right: 0px;
    margin-bottom: 50px;
    margin-left: 0px;
}

.gallery-window-row-pink {
    width: 100%;
    height: 100%;
    background-color: rgb(228, 161, 161);
    text-align: center;
    border: 5px solid;
    border-radius: 5px;
    margin-top: 20px;
    margin-bottom: 50px;
}

.gallery-window-row-blue {
    width: 100%;
    height: 100%;
    background-color: rgb(23, 75, 126);
    text-align: center;
    border: 5px solid;
    border-radius: 5px;
    margin-top: 20px;
    margin-bottom: 50px;
}

.gallery-window-col {
    width: 100%;
    min-height: 100px;
    justify-content: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

@media only screen and (max-width: 600px) {
    .gallery-window-col {
        padding-top: 50px;
    }
}

.gallery-buttons-col {
    text-align: center;
    color: whitesmoke;
    margin-top: 10px;
    margin-bottom: 10px;
}

.gallery-button {
    color: #3b3b3bb3;
    margin-top: 5%;
    margin-bottom: 1%;
    margin-left: 3%;
    margin-right: 3%;
}

.each-gallery {
    margin-top: 15px;
    margin-bottom: 10px;
}

.each-gallery>h5 {
    color: whitesmoke;
}

@media only screen and (max-width: 600px) {
    .gallery-button {
        margin-left: 3px;
    }

    .each-gallery>h5 {
        margin-bottom: 30px;
    }
}

/* ---------Contact-form  */
#full-name {
    min-height: 60px;
}

#emailaddress {
    min-height: 60px;
}

#contact-form-container {
    min-height: 800px;
}

.contact-form-row {
    padding: 15px;
}

.contact-form-col {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

.btn-md {
    margin: 3px;
}

@media only screen and (max-width: 600px) {
    .contact-form-col>h3 {
        font-size: 18px;
        margin-bottom: 20px;
    }

    .contact-form-col>p {
        font-size: 10px;
    }
}

.smile-div {
    font-size: 56px;
    text-align: center;
    margin-bottom: 10px;
    padding-bottom: 5px;
}

.beam {
    display: inline-block;
}

.smile {
    display: inline-block;
    font-size: 32px;
}

/* ---------Random picture page  */
.random-picture-container {
    text-align: center;
    text-decoration: wavy;
}

.random-picture-container>h2 {
    margin-top: 15px;
}

.container-random {
    min-height: 100%;
    background-color: rgb(23, 75, 126);
    text-align: center;
    border: 5px solid black;
    padding: 15px;
}

.col-random-1 {
    width: auto;
    min-height: 600px;
    padding-bottom: 15px;
}

#randomdiv {
    min-height: 500px;
    text-align: center;
    justify-content: center;
    overflow: hidden;
    margin-right: 15px;
}

.star {
    color: goldenrod;
}

.star-1 {
    color: goldenrod;
    font-size: 92px;
}

.arrow {
    margin-right: 25px;
}

/* --------- Footer */
footer {
    height: 50px;
    color: #f3f1f1b3;
    margin-top: 10px;
}

#footer-bottom {
    position: relative;
    bottom: 1px;
    margin-top: 60px;
}

.footer-sections {
    min-height: 45px;
    min-width: 20%;
    background-color: whitesmoke;
    font-size: 100%;
    text-align: center;
    padding-top: 4px;
    margin-top: auto;
    margin-bottom: auto;
    border: 2px solid white;
}

.footer-sections-pink {
    min-height: 45px;
    min-width: 20%;
    background-color: rgb(228, 161, 161);
    font-size: 100%;
    text-align: center;
    padding-top: 4px;
    margin-top: auto;
    margin-bottom: auto;
    border: 2px solid white;
}

.footer-sections-blue {
    min-height: 45px;
    min-width: 20%;
    background-color: rgb(23, 75, 126);
    font-size: 100%;
    text-align: center;
    padding-top: 4px;
    margin-top: auto;
    margin-bottom: auto;
}

.footer-socials {
    color: #3b3b3bb3;
    margin-left: 10px;
}

.footer-socials-blue {
    color: whitesmoke;
    margin-left: 10px;
}

footer h6 {
    font-size: 20px;
    color: black;
    font-size: 20px;
    margin-top: 10px;
}

.footer-sections a {
    font-size: 20px;
    text-decoration: none;
    margin-bottom: 10px;
}

.footer-socials:hover {
    color: black;
}

.active-footer {
    text-decoration: underline;
}